name: test
on:
  pull_request: { branches: ['*'] }
  push: { branches: ['main'] }

jobs:
  unit-tests:
     uses: vapor/ci/.github/workflows/run-unit-tests.yml@reusable-workflows
     with:
       with_coverage: true
       with_tsan: true
       with_public_api_check: ${{ github.event_name == 'pull_request' }}

  test-exports:
    name: Test exports
    runs-on: ubuntu-latest
    steps:
      - name: Check out Vapor
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build
        run: swift build -Xswiftc -DBUILDING_DOCC
