name: test
on:
  pull_request: { branches: ['*'] }
  push: { branches: ['main'] }

jobs:
  unit-tests:
     uses: vapor/ci/.github/workflows/run-unit-tests.yml@reusable-workflows
     with:
       with_coverage: true
       with_tsan: true
       with_public_api_check: ${{ github.event_name == 'pull_request' }}

